* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size:0px;
}

body {
    background-color:#c2ddcb;
    margin:0;
    width:100%;
    height:100vh;
}

main {
    height:100vh;
}

.hamburger{
    background:none;
    position:fixed;
    top:5px;
    right:10px;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#669ea5;
    border:0;
    font-size:5vmin;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
.cross{
    background:none;
    position:fixed;
    top:5px;
    right:5px;
    padding:15px 25px 0px 15px;
    color:#669ea5;
    border:0;
    font-size:15vmin;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
  
.menu {
    z-index:1000000;
    font-weight:bold; 
    font-size:0.8em; 
    width:100%; 
    background:#f1f1f1;  
    position:absolute; 
    top:0;
    right:0;
    text-align:left; 
    font-size:12px;
}

#menu-label {
    font-size: 7vmin;
}

.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}

.menu li {
    display: block;   
    background-color: #1e173a;
    font-size:4vmin;
    padding:15px 0 15px 20px; 
    border-bottom:#ffffff 2px solid;
}

.nav-button:hover {
    display: block;    
    background:#669ea5;
    border-bottom:#1e173a 2px solid;
}

#about-me-here {
    color: lightseagreen;
    font-weight: bold;
}

#about-me-here:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

#contact-here {
    color: lightseagreen;
    font-weight: bold;
}

#contact-here:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

#projects-here {
    color: lightseagreen;
    font-weight: bold;
}

#projects-here:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

#back-to-home {
    color: lightseagreen;
    font-weight: bold;
}

#back-to-home:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

.menu ul li a { 
    text-decoration:none;  
    margin: 0px; 
    color:#ffffff;
}

.menu a {
    text-decoration:none; 
    color:#ffffff;
}

span {
    padding-left:20px;
}

a {
    color:#336699;
}

nav {
    background:#1e173a;
    color:white;
}

#headshot {
    height:auto;
    width:25%;
    position:absolute;
    top:20%;
    left:45%;
}

#quizAppPic {
    height:200px;
    width:auto;
}

header {
    display:inline-block;
    font-size:3vmin;
    background-color: #669ea5;
}

#initial-header {
    height: 550px;
    width:700px;
    margin-right:20%;
    margin-bottom:30%;
    padding: 11% 30% 15% 15%;
}

header h1 {
    font-family: 'Cabin', sans-serif;
    margin-bottom:20%;
    letter-spacing: 1px;
}

header h2 {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
}

h1 {
    margin:0px;
    color:white;
    font-size:5vmin;
}

h2 {
    margin:0px;
    color:white;
    font-size:4vmin;
}

p {
    color:white;
    font-size: 3vmin;
    width:90%;
}

#aboutMe {
    background-color:#c2ddcb;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height:90px;
    width:100%;
    margin:0px 0px 5px 0px;
    padding:5% 10% 10% 10%;
}

#aboutMe h1 {
    color:#1e173a;
    font-size:4.5vmin;
}

.aboutMeText {
    background-color:#36334f;
    height:70%;
    margin:0px;
    padding:5% 15% 5% 15%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    line-height: 6vmin;
    font-size:4.5vmin;
}

#projects {
    background-color:dimgrey;
    color:black;
    padding:10%;
}

#projectsTitle {
    background-color:darkgrey;
    padding:10%;
    height:50px;
}

footer {
    position:fixed;
    bottom:0px;
    padding:1%;
    background-color:#1e173a;
    color:white;
    text-align:center;
    vertical-align:center;
    font-size:2vmin;
    height:5%;
    width:100%;
}