* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size:0px;
}

body {
    background-color:#c2ddcb;
    margin:0;
    width:100%;
    height:100vh;
}

main {
    height:100vh;
}

.hamburger{
    background:none;
    position:fixed;
    top:5px;
    right:10px;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#1e173a;
    border:0;
    font-size:6vmax;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
.cross{
    background:none;
    position:fixed;
    top:5px;
    right:5px;
    padding:15px 25px 0px 15px;
    color:#669ea5;
    border:0;
    font-size:20vmax;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
}
  
.menu {
    z-index:1000000;
    font-weight:bold; 
    width:100vw; 
    height:100vh;
    background:#1e173a;  
    position:absolute; 
    top:0;
    right:0;
    text-align:left; 
    font-size:5vmax;
}

#menu-label {
    font-size: 7vmax;
}

.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;
}

.menu li {
    display: block;   
    background-color: #1e173a;
    font-size:4vmax;
    padding:15px 0 15px 20px; 
    border-bottom:#ffffff 2px solid;
}

.nav-button:hover {
    display: block;    
    background:#669ea5;
    border-bottom:#1e173a 2px solid;
}

#about-me-here {
    color: lightseagreen;
    font-weight: bold;
}

#about-me-here:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

#contact-here {
    color: lightseagreen;
    font-weight: bold;
}

#contact-here:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

#projects-here {
    color: lightseagreen;
    font-weight: bold;
}

#projects-here:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

#back-to-home {
    color: lightseagreen;
    font-weight: bold;
}

#back-to-home:hover {
    background: #1e173a;
    border-bottom:#ffffff 2px solid;
}

.menu ul li a { 
    text-decoration:none;  
    margin: 0px; 
    color:#ffffff;
}

.menu a {
    text-decoration:none; 
    color:#ffffff;
}

span {
    padding-left:20px;
}

a {
    color:#336699;
}

nav {
    background:#1e173a;
    color:white;
}

#headshot {
    height:33%;
    width:auto;
    position:absolute;
    top:50%;
    left:45%;
}

header {
    display:inline-block;
    font-size:3vmax;
    background-color: #669ea5;
}

#initial-header {
    height:66vh;
    width:100vw;
    margin-bottom:30%;
    padding: 11% 30% 15% 15%;
}

header h1 {
    font-family: 'Cabin', sans-serif;
    margin-bottom:20%;
    letter-spacing: 1px;
}

header h2 {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 1px;
}

h1 {
    margin:0px;
    color:white;
    font-size:5vmax;
}

h2 {
    margin:0px;
    color:white;
    font-size:2.5vmax;
}

p {
    color:white;
    font-size: 3vmax;
    width:90%;
}

#aboutMe {
    background-color:#c2ddcb;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height:18vh;
    width:100%;
    margin:0px 0px 5px 0px;
    padding:5% 10% 10% 10%;
}

#aboutMe h1 {
    color:#1e173a;
    font-size:4vmax;
    margin-right:12vw;
}

.aboutMeText {
    background-color:#36334f;
    height:70%;
    margin:0px;
    padding:5vh 10vw;;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    line-height: 5.5vmax;
    font-size:4vmax;
}

#projects {
    background-color:#c2ddcb;
    color:#1e173a;
    width: 100%;
}

#projectsTitle {
    background-color:#36334f;
    padding:15%;
    height:15vh;
    width:100%;
    position:absolute;
    top:0;
}

#projects h2 {
    color:#1e173a;
    font-weight:bold;
    position:absolute;
    top:50vh;
    font-size:3.5vmax;
    margin-left:10vw;
    margin-right:10vw;
}

#projects p {
    display:block;
    width: 80vw;
    position:absolute;
    top:60vh;
    color:#1e173a;
    margin-left:10vw;
    margin-right:10vw;
    font-size:2.8vmax;
}

#quizAppPic {
    height:auto;
    width:70vw;
    position:absolute;
    top:22vh;
    left:15vw;
    right:15vw;
}

#html-logo {
    height:3vh;
    position:absolute;
    top: 43vh;
    left: 15vw;
}

#css-logo {
    height:3vh;
    position:absolute;
    top: 43vh;
    left: 20vw;
}

#js-logo {
    height:3vh;
    position:absolute;
    top: 43vh;
    left: 28vw;
}

#contact {
    width:100vw;
    height:100vh;
}

#contact h1 {
    position:absolute;
    top:20vh;
    width:80vw;
    margin-left:10vw;
    margin-right:10vw;
}

#contact h2 {
    position:absolute;
    top:40vh;
    width:80vw;
    margin-left:10vw;
    margin-right:10vw;
}

#email-pic {
    height:10vh;
    position:absolute;
    top:65vh;
    left:10vw;
}

#linkedin-pic {
    height:10vh;
    position:absolute;
    top:65vh;
    left:43vw;
}

#github-pic {
    height:10vh;
    position:absolute;
    top:65vh;
    left:70vw;
}

footer {
    position:fixed;
    bottom:0px;
    padding:1%;
    background-color:#1e173a;
    color:white;
    text-align:center;
    vertical-align:center;
    font-size:3vmax;
    height:5%;
    width:100%;
}